@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

body,
h1,
h2,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  background-color: unset;
  border: none;
  font-family: unset;
  font-size: unset;
}

/* --------reset-------- */

:root {
  --main-color: rgb(43, 92, 253);
}

body {
  font-family: "SUITE-Regular";
}

.lotto_number {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  width: 500px;
  height: 300px;
  padding: 50px;
  border: 2px solid rgba(43, 92, 253, 0.377);
  border-radius: 50px;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(58, 58, 58, 0.151);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lotto_title {
  color: var(--main-color);

  padding: 10px;
  border-radius: 20px;

  font-size: 2.2rem;
  font-weight: bold;
}

.lotto_sub {
  color: rgb(43, 43, 43);
}

.lotto_btn {
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;

  margin: 10px;
  padding: 10px 15px;
  border-radius: 30px;
}

ul {
  display: flex;
  padding: 5px;
  gap: 10px;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  color: white;
  font-size: 24px;

  border-radius: 50%;
  border: 2px solid rgba(66, 66, 66, 0.459);
}

ul :nth-child(1) {
  background-color: tomato;
}

ul :nth-child(2) {
  background-color: orange;
}

ul :nth-child(3) {
  background-color: darkolivegreen;
}

ul :nth-child(4) {
  background-color: deepskyblue;
}

ul :nth-child(5) {
  background-color: royalblue;
}

ul :nth-child(6) {
  background-color: slateblue;
}
